rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    match /events/{eventId} {
      allow read: if resource.data.status == 'published' || isAuthenticated();
      allow create, update, delete: if isAuthenticated();

      match /attendees/{attendeeId} {
        allow read: if isAuthenticated();
        allow create: if true;
        allow update, delete: if false;
      }
    }

    match /raffles/{raffleId} {
        allow read, write, create, update, delete: if isAuthenticated();
    }
    
    // Allow authenticated users to list all events
    match /events/{document=**} {
      allow read: if isAuthenticated();
    }
  }
}
